name: CI Training Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-and-build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"

    - name: Install Dependencies
      run: |
        pip install mlflow dagshub pandas scikit-learn matplotlib seaborn

    - name: Run MLflow Project
      env:
        MLFLOW_TRACKING_USERNAME: Izukunn
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
        MLFLOW_TRACKING_URI: https://dagshub.com/Izukunn/Eksperimen_SML_faiz_muhamad_al_ghifari_rc9k.mlflow
      run: |
        cd MLProject
        mlflow run . --env-manager=local --experiment-name "Automated_CI_Experiment"

    - name: Archive MLflow Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: training-artifacts
        path: MLProject/

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker Image
      run: |
        echo "FROM python:3.9-slim" > Dockerfile
        echo "WORKDIR /app" >> Dockerfile
        echo "COPY MLProject/ /app/" >> Dockerfile
        echo "RUN pip install -r /app/requirements.txt" >> Dockerfile
        echo "CMD [\"python\", \"modelling.py\"]" >> Dockerfile
        
        docker build -t ${{ secrets.DOCKER_USERNAME }}/submission-mlops:latest .
        
        docker push ${{ secrets.DOCKER_USERNAME }}/submission-mlops:latest